<!doctype html>
<html lang="en" class="no-js">
    {% include "structure/head" %}

    <body>
        <!-- Content block, child page inject content -->
        {% block content %}{% endblock %}

        {% include "structure/bottom-script-block" %}
    </body>

</html>