<div class="bb-item" id="item3">
	<div class="content">
		<div class="scroller">
			<h1>Alone In the Woods</h1>
			<p>It took many days of walking to get away from home<br>
			Hidden in the thickest of woods, Moyen knew he was totally alone.<br>
			Seclusion was required – in these woods he would not be found,<br>
			No distraction anywhere at all, simply nature all around.<br>
			This simplicity astounded, full of beauty and power,<br>
			Moyen was amazed within his first few hours.<br>
			“If I listen long enough, the lyrics of the birds will become clear,<br>
			I will connect with the animals and understand every sound I hear.<br>
			As the leaves rustle, they tell the stories of the winds,<br>
			Of storms and of sailboats, of blowing away sins.<br>
			The cool moss underfoot feels soft to my feet,<br>
			Lucky to have it here it will provide comfort when I sleep.<br>
			Tree top canopy of leaves: a crochet loosely spun,<br>
			Interrupted by strong, life-giving bursts of the glorious sun.</p>

			<p>“I know that if I believe, nature and sustenance will take communal flight.”<br>
			With those thoughts in mind, Moyen comfortably passed the first night.<br>
			The next morning he woke to the songs of Blue Jays,<br>
			More sure than ever that he’d chosen the right way.<br>
			The one thing more significant than this profound reckoning,<br>
			Was the strength of his hunger that seemed to grow by the second.<br>
			If there was bone in his stomach, the hunger would have gnawed its way through, <br>
			The issue of hunger was paramount, there was something Moyen had to do.<br>
			Since he too was a creation of nature he knew [in it] he could survive,<br>
			There was food all around him: nuts, berries, plants, fruit, honey from a bee-hive.<br>
			But Moyen had trouble imagining himself taking honey from a bee,<br>
			Even after hours of scavenging, he ended up finding little to eat.</p>

			<p>His hunger was now most serious, the sounds of the forest became annoying,<br>
			He tried to keep the perspective that, with his abilities, Nature was toying.<br>
			“But why would she play with me so?” Moyen couldn’t figure out,<br>
			For how could his faith in nature help to end this hunger bout?<br>
			Just then he was disturbed by a strong and thorough sound,<br>
			Intense and powerful, so deep that it shook the ground.<br>
			It took only a moment for Moyen to recognize the sensation:<br>
			It was a caravan of merchants en route to their destination.<br>
			So numerous were they, that they traveled in packs,<br>
			Something like a mobile city, numbering 500 front to back.<br>
			There were so many that the earth rumbled when they passed,<br>
			And when they pass, they pass slowly to display the pomp and circumstance.<br>
			They made riches by bringing a variety of treasures from near and far:<br>
			Salt, myrrh, gems, furs, glasswork, toys, literature, cigars,<br>
			For the most modest merchant family, three whole sheep was dinner for 3,<br>
			Which goes to show the disgusting amounts and disregard for waste there would be.<br>
			One single bite from a full leg of mutton,<br>
			Then it’s tossed aside as if it were nothing.<br>
			Glutton is a word to describe each one,<br>
			They thought only of advantage – and as for compassion?<br>
			They had none.<br>
			But merchants were followed by hundreds of people day after day,<br>
			The poor and the destitute who would actually survive off the merchants’ throw-away.<br>
			It was quite a site: people wiping mud from decomposing chunks of flesh,<br>
			To you and I: pure refuse!  But to them it was the best!<br>
			“And isn’t it though?”  Moyen’s stomach thought aloud,<br>
			“These people didn’t care, they fed themselves and they were proud.”<br>
			His stomach became advisor so Moyen made a move,<br>
			To approach this caravan and appease his hunger for food.<br>
			As he took the first step, he was thrown to the ground by an invisible force,<br>
			Forced to lay still and watch the caravan pass: merchant by merchant, horse by horse.<br>
			As the dust settled Moyen rose to his feet – once again of his own accord,<br>
			He figured the unseen force of paralysis was the direct hand of the lord.<br>
			To scavenge is wrong, a true fall from grace.  Never accept another’s refuse.<br>
			Your soul will darken, your dreams will fade, it’s clearly your temple you abuse.<br>
			Accepting this lesson as a gift from above, Moyen brushed himself clean,<br>
			Ignoring his hunger, he refocused himself on finding just what this life means.<br>
			Turned right around, and strolled back through the woods, by noon he was in them deep,<br>
			To his relief, surprise, and disbelief he discovered a cool river in which to soak his feet.</p>

			<p>Water murmured by, having an effect on his toes up through his thighs.<br>
			A sound so soothing, in order to focus Moyen had to close his eyes.<br>
			With eyelids shut, during full concentration, the sound of silence made Moyen wonder,<br>
			This form of deep meditation calmed his soul, sparked his curiosity, and abated his hunger.<br>
			He couldn’t focus long; perfection would take practice and he’d have to continually try,<br>
			Just then he became re-aware of his newly strong hunger that he could no longer deny.<br>
			“Okay!  Okay! I really do understand!” Moyen screamed at the top of his lungs,<br>
			“I know that Nature provides for all in sync, I need food now!  Please give me some!”<br>
			There was no heavenly booming sound in reply,<br>
			No magic cornucopia descended from the sky.<br>
			Standing up bitterly, his hope was beginning to wither,<br>
			Then Moyen spotted something floating down the river.</p>

			<p>A mystery item, hard to see as it floated above the river floor,<br>
			An irresistible mystery, Moyen couldn’t help but to retrieve and bring it ashore.<br>
			Soaking wet and thoroughly drenched from his neck through to his feet,<br>
			His heart went racing at the thought that this could be something to eat!<br>
			From the outside this package resembled neither bread nor meat nor rice,<br>
			It seemed something a million times better: the beloved Food of Paradise!<br>
			Wrapped in green leaf, preserved in olive oil,<br>
			A familiar leaf unmistakably grown in domestic soil.<br>
			“Everything about this treat seems to be the Food of Paradise that I know!”<br>
			The smell of the unwrapped goodie mocked his appetite and made his hunger grow.<br>
			Marinating in honey and soaked in milk condensed and sweetened,<br>
			Crushed almonds, shelled walnuts, tender roasted pecans.<br>
			Moyen devoured the treat without further precaution,<br>
			Reminiscing about stories from his youth,<br>
			Tales of Queens rubbing this on their body to carry the scent,<br>
			No adult would ever deny that the story was the truth.<br>
			The very last bite was as good as the very first,<br>
			Moyen drank from the fresh water river to quench his sudden thirst.<br>
			As he drank, Moyen thought for a bit, and wondered where this timely meal came from,<br>
			The Food of Paradise doesn’t sprout from the Earth; unlike a fruit, it isn’t nourished by the sun.<br>
			Just then Moyen was struck with a thought, “nature is so amazing!<br>
			It provides for all it’s creatures, those big and those small, from treats for humans to grass for cows grazing!”</p>

			<p>Moyen was well on his path, learning as he went,<br>
			Receiving gifts of knowledge undeniably heaven-sent.<br>
			However, Moyen just wasn’t sure; <br>
			He knew there had to be more.<br>
			Someone must be aware of his presence in the forest, why else would the food have appeared?<br>
			“Perhaps it’s a royal and divine individual!” They could help him and they might be near.<br>
			Moyen became inspired and began his trek up-river,<br>
			As he progressed the bush got thick and the trees got bigger.<br>
			He traveled all day along the river only stopping to rest when the sun went down.<br>
			Exhausted from walking he fell asleep, soon startled awake by a strange sound.<br>
			Moyen jumped up and looked around seeing nothing in the pitch dark that accompanied this nighttime,<br>
			He hoped that whatever thing was moving around in the tree tops, would prove to be gentle and kind.<br>
			After a bit, Moyen settled down and fell asleep once more,<br>
			His dreams peppered with thoughts of what tomorrow had in store.<br>
			Exactly what was in store for Moyen: he would soon enough find,<br>
			And learn that reality is often more creative than the human mind.</p>
		</div>
	</div>
</div>