<div class="bb-item" id="item5">
	<div class="content">
		<div class="scroller">
			<h1>Brave Inside a Cave</h1>
			<p>It was a day’s journey that led Moyen to the site he now saw:
			A majestic structure perched on an island with gates quite tall.<br>
			So tall that no mere man would truthfully say he could easily scale,<br>
			Nor bound or leap, neither flip nor fly, his attempt would surely fail.<br>
			Of all wise things said by the Dervish to Moyen he managed to retain very few;<br>
			One of them being that to gain entrance required swimming, this he certainly knew.<br>
			Some underwater passage was to lead him from out to within.<br>
			Moyen took a moment to steady himself, he thought about all the places he’d been.<br>
			Places to which he’d traveled in the past few days<br>
			Mental expanses he’s crossed, nourished by the sun rays.<br>
			And of course the special package that regularly came down river,<br>
			Moyen wondered about the look of his benevolent caregiver;<br>
			Who could they be?  They had to be gods or else high royalty.<br>
			At this point, Moyen was apprehensive and said “we shall see.”<br>
			From above, the water really looked tranquil and calm,<br>
			Moyen tested the depth at the shore by sticking in his arm.<br>
			A few feet down he felt the bottom: silken it seemed,<br>
			After a running leap, Moyen plunged into the stream.<br>
			Water filled his ears, but didn’t burn his eyes<br>
			His swimming was weak, the current kept pulling him aside.<br>
			The power of this current was startling; Moyen had never felt such force.<br>
			He jumped in again, tried his hardest, but he couldn’t swim the course.<br>
			Moyen was mystified: the water was so calm when standing on the banks,<br>
			But once he got in he could barely keep from drowning with all his strength.</p>

			<p>A few attempts at this left Moyen extremely tired,<br>
			He thought hard to figure out how to get to the other side.<br>
			Each time he got in the water, it sent him where he didn’t want to go.<br>
			In order to analyze the phenomenon, Moyen took note of how the river flowed.<br>
			The flow of the water was the same at each occurrence<br>
			Moyen saw this as the key to mastering the river’s currents.<br>
			He backtracked along the river going back the way he came.<br>
			It’s funny he thought, how life’s answers are sometimes so arcane.<br>
			Sometimes the answers are nearer than the lashes to our eye,<br>
			Sometimes the answers are so simple they require the demeanor of a child.<br>
			So much like a child and simple minded at that,<br>
			Moyen got in the river and just floated on his back.<br>
			The current began to support Moyen, “hmm” he thought, “this is cool.”<br>
			The coolness quickly disappeared when he saw he was headed for a whirlpool!<br>
			Panic struck him hard, he thrashed and headed for the vortex,<br>
			Forget the Food of Paradise, at this rate, it was death he would see next.<br>
			Instead of relaxing and riding the wave, Moyen fought against the water’s power,<br>
			Almost choked as it took him under for just a moment that seemed like hours.<br>
			The water became dark, he couldn’t tell which way was up,<br>
			Moyen panicked and tried to swim, but underwater he was stuck!<br>
			Turned and tossed by the water and in its depths,<br>
			He couldn’t hold his breath any longer and lost consciousness.</p>

			<p>Somehow he survived,<br>
			His rough river dive.<br>
			He awoke strong and felt brave<br>
			But found himself inside a cave.<br>
			The place was dark: high ceiling echoes of dripping sounds.<br>
			Moyen rose to his feet sopping wet, slightly bruised, and looked around.<br>
			He could see how he got there: this cave had a beach, though it was underground.<br>
			The beauty of the site told Moyen for which he was looking had just been found.<br>
			What else could give an intruder such a hard time and a tough hassle,<br>
			Than a tall, majestic, and marvelous, divinely protected, royal castle?<br>
			Moyen knew he was underground and would have to make it all the way to the top.<br>
			He stood strategically contemplating just how as the echoes went: “drip, drop.”<br>
			It was dark and he was lost – this solution was going to take some real mental poise,<br>
			However he was going to do it, Moyen would have to do it without making much noise.<br>
			In there, all sound was amplified and he didn’t know if anyone was near,<br>
			Even the slightest sound was loud and anyone else was bound to hear.<br>
			“The drips are kinda loud,” he thought.  “I could take a step at the sound of each drop,” <br>
			But then he heard a captivating sound that brought his strategic contemplation to a stop.<br>
			It was the sound of joy: a light and harmonious melody.<br>
			Moyen had to strain to hear and determine what it could be.<br>
			It was faint but beautiful - Moyen followed its direction.<br>
			Careful with his steps - careful to avoid any detection.<br>
			Joyful laughter, plucked strings, dancing feet.<br>
			All supported by a gentle head-nodding beat.<br>
			These sounds floated through the cave like a warm, inviting breeze,<br>
			Moyen followed this flow and this way found the exit with relative ease.<br>
			There was a set of stone stairs carved from the cave floor<br>
			Looking up them he saw some light from a slightly open door.<br>
			The music came from here<br>
			That much was very clear.<br>
			Moyen climbed the steps<br>
			Crouching silently as he crept.</p>

			<p>What Moyen saw while peeking through the door made him doubt his eyes:<br>
			Outside was a rooftop awash in sunlight necessarily atop a building so high.<br>
			So high in fact, that even through the crack Moyen could see clouds floating by.<br>
			All this impossibility along with the beauty of the music made him want to cry.<br>
			But there was no time for that – his procrastination was abated<br>
			He felt this had to be where The Food of Paradise is created.<br>
			For look at this place: marble floors at heavenly heights<br>
			Sweet scented breeze and life giving rays of sun light.</p>
		</div>
	</div>
</div>