<div class="menu-panel">
	<h3>Table of Contents</h3>
	<ul id="menu-toc" class="menu-toc">
		<li class="menu-toc-current"><a href="#item1">Preamble</a></li>
		<li><a href="#item2">Moyen Loses His Way</a></li>
		<li><a href="#item3">Alone In the Woods</a></li>
		<li><a href="#item4">Throughout the Within</a></li>
		<li><a href="#item5">Brave Inside a Cave</a></li>
		<li><a href="#item6">No Real Stranger</a></li>
		<li><a href="#item7">Perceiving Truth</a></li>
	</ul>
	<div>
		<p>Written by me, <a href="http://qaidjacobs.com">Qa'id Jacobs</a> and based on an ancient sufi tale originally told by Halqavi, The Food of Paradise is an adaptation that tells of a man’s quest in vivid detail and rhyme … a quest for the ultimate truth that ends in a surprising twist of fate.</p>

		<p>The layout and functionality of this site are based on the awesome CoDrops tutorial implementing the <a href="https://github.com/codrops/BookBlock">BookBlock</a> jQuery plugin by Botelho. I gave it my own take on styling using Sass and <a href="http://richbray.me/cms">Rich Bray's ColorMeSass</a> and the <a href="http://www.google.com/fonts/specimen/Roboto">Roboto</a> and <a href="http://www.google.com/fonts/specimen/Merriweather">Merriweather</a> web fonts from Google.</p>
	</div>
</div>