<div class="bb-item" id="item2">
	<div class="content">
		<div class="scroller">
			<h1>Moyen Loses His Way</h1>
			<p>The Food of Paradise in rhyme,<br>
			A story that transcends time.<br>
			Although it dates back to a period some would call medieval,<br>
			In this story there are no sieges, no plagues, no monarchs, no cathedrals.<br>
			This is a story about truth and what it means to search for such,
			How truth is illusive and always seems to vanish once in our clutch.</p>

			<p>Moyen was a family man with kids to work the acres he owned,<br>
			But something wasn’t right, he felt, one day while coming home.<br>
			All day long his thoughts were fixed on the words of a smart man,<br>
			Words that made Moyen ask himself: “do I know who I really am?”<br>
			Though he tried and tried to think of something else, <br>
			The words of this traveling man had penetrated deep within Moyen’s self. <br>
			At the dinner table Moyen’s wife foresaw that something strange was to come,<br>
			His mental shadow even eclipsed the youthful shine of his daughters and sons.<br>
			“Dearest?” his wife inquired, “Daddy?” his babies chimed,<br>
			“Please reveal,” they begged, “that which plagues your mind.”<br>
			But nothing worked to bring forth his thoughts,<br>
			Like a mouse in a trap, his tongue was caught.<br>
			A sip of water did little to loosen his throat or quench his thirst,<br>
			Our friend Moyen was busy figuring out who would be the first.</p>

			<p>First to be told that today was his last, <br>
			Being with family and friends would soon be in the past.<br>
			“Listen up,” he finally revealed,<br>
			Everyone gave him their attention with zeal.<br>
			“What I am about to say to you all may come as a shock, <br>
			Like when you first learned about the deaths of Biggie and Tupac.<br>
			But rest assured that my perspective is wise and that I have learned,<br>
			I must make a decision that will cause pain worse than being burned.”<br>
			The anticipation was trying everyone’s patience and especially their fears,<br>
			“please continue,” his wife urged, “your troubles are bringing us all to tears.”</p><br>

			<p>Moyen stood up and stepped away from the table,<br>
			Avoiding the direct gaze of those who depended on him for life.<br>
			He especially couldn’t bear the eyes of his eternal promised love,<br>
			His most cherished and beautiful wife.<br>
			He knew that the words he was about to share,<br>
			Would be met with tear filled eyes and disappointed stares.</p>

			<p>“This dinner,” Moyen proclaimed, “is my last with you all,<br>
			I have no choice but to leave you and obey a higher call.<br>
			Just a few hours ago I had an intense conversation with a most wise, learned businessman.<br>
			He said the best way to live life and do the most for you all, was to follow a strict regimen.<br>
			Strict indeed for it dictates that I must abandon all for which I’ve worked so hard,<br>
			While keeping in mind that the end result will be full and replete one-ness with God.”</p>

			<p>Moyen’s words concluded - saturated with the blindness of conviction,<br>
			All were shocked by the words, unsure whether they were fact or fiction.<br>
			But the matriarch wondered aloud, needing clarity, <br>
			She asked, “so you’re about to abandon your family?”<br>
			“I don’t expect you to understand since you did not hear the words of this wise man,” he replied,<br>
			“If you leave us tonight don’t expect to return without a fight – your wish will be denied.”<br>
			Moyen’s wife continued her appeal: <br>
			“Do you choose God who is imagined over your family which is real?<br>
			Were your original beliefs that shallow and absurd<br>
			That you would change your way after a stranger’s word?<br>
			And the word of a stranger at that!<br>
			What happened to the spine that once ran down your back?<br>
			Philosophy is one thing – and quite beautiful as an art,<br>
			But what about the effect of breaking every one of your kids’ hearts?<br>
			Tell me what he said… this master!  Your new friend!”<br>
			Moyen began, but was quickly cut off again.<br>
			“And furthermore …” she continued with a yelp,<br>
			“I’m not trying to raise these kids without any help.”</p>

			<p>Moyen’s heavy sigh signaled to all that this was not going to end with smiles and hugs,<br>
			His wife was going crazy and his kids were starting to bug.<br>
			“This back and forth is a real bore,<br>
			I’m leaving you all to go serve the Lord.<br>
			It was a word indeed that moved me<br>
			And it was a word alone that began infinity.<br>
			Everything around us is a word entirely – I’m sure you realize,<br>
			Words are sounds and sounds vibrations when brought together they materialize.<br>
			Matter is nothing more than vibrating chunks of soul,<br>
			But matter is the thing that makes us all whole.<br>
			Without the rhythmic vibrations, each of us would be but wisps of air,<br>
			With no center or existence, we just wouldn’t be there.<br>
			So yes, it has been a word that has opened my eyes,<br>
			The unfortunate truth is that I must leave you guys.<br>
			I am now an initiate: what is called a ‘Seeker of Truth.’<br>
			By years I am an old man, in terms of knowledge: merely a youth!   <br>
			I have to go, abandon all, and try to grow.<br>
			If you stop to think of it, the best reason is that God said so.”</p>

			<p>Moyen emptied his pockets of all worldly goods,<br>
			Raised his hand in abdication and headed for the woods.</p>

			<p>“In the woods,” the wise man told Moyen, “you will give birth,
			to wisdom and understanding, known as ‘Total Faith In Earth’;<br>
			And all things created by the most high,<br>
			Mysteries and answers to feed your mind’s eye.<br>
			Such enlightenment can only be obtained through contemplative solitude,<br>
			One which produces thoughts of thanks and sheer, pure, supreme gratitude.<br>
			For what have we at all, if not to give thanks<br>
			But our minds are consumed with struggle, angst, bills, and banks.<br>
			There are many before us who’ve lived the same lives,<br>
			However, unlike our generation, they’ve left much when they died:<br>
			Words, writings, sounds, and songs,<br>
			Many works have survived this long.<br>
			Some who lived had made it their goal<br>
			To study these works as complete and whole.<br>
			The result of these studies have been plain and clear:<br>
			It is only the word of God that man must fear.<br>
			For those who can’t see this I have unbiased pity,<br>
			The word of God can’t be heard over the noise of the city.<br>
			It’s worth more than all the world’s gold,<br>
			The word of God manifests as a murmur in your soul.<br>
			In order to perceive, you must first believe.<br>
			For the word of God is sweeter than the sweetest thing you can find,<br>
			Sweeter than the dessert called the Food of Paradise, amongst our kind.<br>
			The Food of Paradise: all children know it well,<br>
			When they see it, their stomachs growl and their eyes swell.<br>
			Even for adults, the joy and pleasure is no less,<br>
			There are none around that wouldn’t say it’s the best.<br>
			For the fools who disagree, they’re automatically dimwits,<br>
			Even the clergy loved this food and they often smelled of it.<br>
			Crushed almonds, with aromatic clove shells,<br>
			The holy leaders simply rubbed it on themselves.<br>
			Soldiers carried it into battle fields - there it was more precious than a man’s helmet,<br>
			The Food of Paradise was the remedy for more than one hundred different ailments.<br>
			Or so the story goes for this Food of Paradise,<br>
			With a taste so amazing you have to eat it twice.<br>
			But the word of God, son, it’s this about which I’m talking,<br>
			You’ve already wasted so many years, it’s best you start walking.<br>
			Head for the woods and live with faith in Mother Nature.<br>
			Be patient and believe, she’ll deliver you to the creator.<br>
			Tests and challenges will obscure your path,<br>
			Just remember your purpose and follow through on the task.<br>
			When you have a question, you need only ask,<br>
			Or rest when tired and take a sun bath.<br>
			When you do find a truth, understand Understanding is its root.<br>
			True wisdom and enlightenment is yours by following this route.”<br>
			And such were the words of this wise business man,<br>
			That convinced Moyen to give up his whole famalam.</p>
		</div>
	</div>
</div>