<div class="bb-item" id="item6">
	<div class="content">
		<div class="scroller">
			<h1>No Real Stranger</h1>
			<p>The roofless rooftop was so high up the weather didn’t even matter<br>
			From inside Moyen could hear the playful sounds of idle chatter.<br>
			Worriless giggles from chubby cheeks<br>
			Hands without scars and manicured feet.<br>
			Down filled pillows encased in soft leather<br>
			Time full of leisure with friends spent together.<br>
			These were the sounds Moyen could hear from around the corner<br>
			He slowly emerged and hoped they’d be kind to him: a foreigner.<br>
			With such love in their voices, they had to be nice.<br>
			Besides, this was the source of The Food of Paradise!<br>
			Rounding the bend Moyen was not surprised to see <br>
			A group of attractive young people: men and women numbering three.<br>
			Accompanied by a string instrument musician strumming one chord over again,<br>
			They all looked up with faces full of surprise to see the newly revealed Moyen.<br>
			“What in the world?!”<br>
			“Who could this be?!”<br>
			“Let’s be kind, we need only ask and then we’ll see.”</p>

			<p>Voices full of frivolity, they clearly felt no threat and saw no danger.<br>
			They welcomed and smiled at Moyen even though he was a stranger.<br>
			“You must have traveled far, fair stranger, it’s likely you need a rest,<br>
			Relax a bit you’re welcome here, sit down, eat some fruit: it’s fresh.<br>
			Take a sip of this wine, its bouquet is aromatic.<br>
			So rare to have a guest, visitors are so sporadic.”<br>
			It seemed odd to Moyen that these majestics had not predicted his arrival,<br>
			It was these folks after all was said that were responsible for his survival.</p>

			<p>“I’m no real stranger,” Moyen offered up, “I’ve been enjoying your food all along,<br>
			It surprises me that you haven’t expected I would search and that I would come .”</p>

			<p>“Your talk of food is confusing, we don’t know you or even your name.<br>
			Regardless of that you’re welcome with us we wish you comfort just the same.”</p>

			<p>“How could you say you don’t know who I am when it’s you that has been the life giver?<br>
			My survival during these past days has been based upon the food you send down this river.<br>
			And no ordinary food, un uh, make no mistake!<br>
			This is the Food of Paradise with such a grate taste”</p>

			<p>They listened to Moyen – and they really did want to understand,<br>
			But they just couldn’t grasp the excited words from this strange man.</p>

			<p>“Let’s do this slowly by starting with your name<br>
			And then you can tell us from which land you came.<br>
			You’ve clearly come from far: your clothes are so tattered.<br>
			The journey must have been tough: your thoughts seem so scattered.<br>
			Relax, my friend, calm yourself, put up and rest your feet,<br>
			Don’t forget to tell us your name so we can officially meet.”</p>

			<p>“If you insist, I will play your game: a charade!  <br>
			And pretend that you don’t know my name.</p>

			<p>“I am a Seeker of Truth, most know me as Moyen<br>
			I quest for the answer [have come in peace] and you’ll know me as a friend.<br>
			One day I was told by an accomplished businessman,<br>
			He said salvation lay in the opulence of God’s hand,<br>
			That the bounty of life would be extended to me,<br>
			If acceptance of the power of nature was my only belief.<br>
			I was told to forget my family and relinquish material wealth<br>
			The goal being to cleanse and bolster my spiritual health.<br>
			A Seeker of Truth I’ve definitely been!<br>
			At every challenge I conquer and I win.<br>
			Of course your culinary contribution has been indispensable<br>
			It even helped even me to outwit a dervish who seemed insensible.<br>
			Temped with scavenging I refused refuse.<br>
			Me out of harmony with nature?  One couldn’t accuse!<br>
			I’ve meditated on peace and thereby found my own,<br>
			I’ve navigated these foreign woods: so different and far from home.<br>
			I managed to find an old dervish lurking in the trees<br>
			He wore a crazy outfit and spoke something of truth to me.<br>
			What was it again?  I can’t really recall.<br>
			Something about truth understanding the meaning of it all.<br>
			Or maybe it was how truth was elusive, or perhaps how hard to perceive<br>
			What was it he was saying? How truth may not be just what it seems?  <br>
			Many of his words made no sense, though I’m sure his intentions were best.  <br>
			He was a loopy old man, probably insane - you should have seen the way he was dressed!<br>
			I will give him this: he pointed me your way<br>
			After telling him of the wonderful food you sent me everyday.<br>
			He must’ve seen that I’ve been reaching for what life has in store,<br>
			Sent me in your direction saying I’d find what I was looking for.<br>
			Perhaps my success on this journey is borne of my powerful passion,<br>
			But I wouldn’t have known the way if not for your generous daily ration.<br>
			This constant food: a beacon in the darkness of my spirituality,<br>
			I’ve come to you to acquire knowledge of super-natural reality.<br>
			In touch with the heavens – super-natural you must be!<br>
			What does God say?  Is it a woman?!  Does she talk of me?!<br>
			Or of my life and days to come?!<br>
			Don’t hoard the blessings!  Give me some!<br>
			The confused look on your faces would imply you know not of what I speak.<br>
			I’ve come this far, why hold back?  Please deliver the truth I seek!”</p>

			<p>One of the women that resided in this place<br>
			Cupped her two hands and held Moyen’s face;<br>
			Wiped the sweat from his brow: it was the excitement of the moment,<br>
			It was this very excitement that she did not want to build or foment.</p>

			<p>“Calm, calm, relax yourself mister Moyen.<br>
			Don’t worry, you don’t have to say it again.<br>
			Your words are confused – a bit mixed up.<br>
			You look to quench your thirst, but in an empty cup.<br>
			Now this may seem cruel, or cold as ice, <br>
			But we still don’t know what you mean about The Food of Paradise.<br>
			We all love that treat as much as you <br>
			Throwing some into the river is not something we would do.<br>
			I’m sure you understand just what we’re saying.<br>
			I wish you would relax and take advantage of the hospitality we’re displaying.<br>
			Look here my friend, in the room behind that silk curtain<br>
			Is a bath in which you can rest your body – I’m sure it’s hurting.<br>
			Sit there, lay back, and let the warm fluid rise to your neck.<br>
			Our servants will attend you – it’s luxury you haven’t seen yet!<br>
			Come out relaxed and we’ll talk once more.<br>
			You’ll tell us of your past journeys plus the ones still in store.<br>
			For now just relax – you’re wound up all tight.<br>
			Drink our wine and eat our food – you’re welcome to stay the night.”</p>
		</div>
	</div>
</div>