<div class="bb-item" id="item7">
	<div class="content">
		<div class="scroller">
			<h1>Truth is How You Perceive It</h1>
			<p>Clear to Moyen his words were not really believed,
			He thought they might listen if the hospitality pressure was relieved.<br>
			Going against his better judgement, he took them up on the bath,<br>
			Only partially upset at such a pleasant diversion from his path.<br>
			The room with the tub demonstrated luxury in the extreme:<br>
			The marble, the crystal: this room was for more than just getting clean.<br>
			Moyen was amazed at how high climbed the ceilings,<br>
			He became excited by the sudden and warm luxurious feelings.<br>
			Excited by the warm bath covering his body – this was indeed new!<br>
			Soft music played while the servants allowed him to soak for a few.<br>
			4 servants approached, with brushes in gilded cases.<br>
			They each scrubbed some part of his body using aromatic abrasives.<br>
			This experience was so enjoyable Moyen was sad to see the end of his reprieve.<br>
			The servants lifted his spirits by drying his body with fresh mint leaves.<br>
			Feeling refreshed and much more composed,<br>
			Moyen left the bathroom to rejoin his hosts.<br>
			They clapped when he emerged, clearly in better shape.<br>
			“Now , dear friend Moyen, you have us a story to relate?”</p>

			<p>“I do have a story you don’t seem to believe.  I guess that will have to suffice.<br>
			But I just can’t get over this thing about the great Food of Paradise.<br>
			I know it came to me from here during each and every day –<br>
			I’ve seen someone throw it from the balcony when I was just a short distance away.<br>
			I retrieved it daily for it provided strength and focus<br>
			I just won’t believe it appeared through magic or hocus-pocus.<br>
			You can’t tell me that’s not the truth – I just won’t believe it…”</p>

			<p>“Perhaps real truth is based on how you perceive it.<br>
			I now understand you and will deliver you your truth, though your good spirits I know will not last.<br>
			This Food of Paradise upon which you’ve survived is hardly divine but, is actually the refuse from our bath.<br>
			We bathe in warm goats milk, which is rich in emollients and full of protein.<br>
			Our servants exfoliate our dead skin with ground up nuts – we get really clean.<br>
			After the bath the servants use mint leaves to dry and refresh every crevice,<br>
			They do it right, we keep them tight, (it’s so hard to find good service).<br>
			They clean out the tub and bundle the waste in a banana leaf – all very meticulous.<br>
			Everyday we clean the mess is thrown over the edge of the balcony into the abyss.”</p>

			<p>Silence gripped Moyen, his hand covered his mouth and his eyes drifted to the floor.<br>
			His gracious guests were saying he was the butt of a joke, which he found easy to abhor.<br>
			Even worse than an unfunny joke, Moyen learned he had been living off the sloth of others,<br>
			The words of the old dervish began to make sense as the ugliness of this truth became uncovered.</p>

			<p>And that was the nature of the lesson Moyen had learned,<br>
			He came about it the hard way: through being spurned.<br>
			That made the lesson smart, like loosing a tooth,<br>
			It taught Moyen the real power of elemental truth.<br>
			The truth of the matter is that reality is conditional upon the state of your mind,<br>
			It also goes that a truth that pulls its punches is not very easy to find.<br>
			Truth will also demonstrate that those who live high above the ground don’t always have morals to match,<br>
			And let’s not ignore the rule telling us to absorb wisdom from elders at every moment we can catch.<br>
			Be humble and aware of yourself because truth will supercede<br>
			Don’t confuse or misprioritize your lowly wants with your holy needs.<br>
			Travel the land if you can to find your way, discern your path.<br>
			But never forget to love and have heart, without them, you will not last.</p>
		</div>
	</div>
</div>