<div class="bb-item" id="item1">
	<div class="content">
		<div class="scroller">
			<h1>The Food of Paradise</h1>
			<h3>The re-telling of an ancient tale, by Qa'id Jacobs</h3>

			<p>On the surface, this story - especially the original version by Halqavi from which this comes - is about God and religion - two things that I don't often touch; they're such personal topics. Besides that, my critiques of the institutions those things have become are probably not worth anyone's time. But this retelling of the story, though it uses words like "God," is about something much more universal than religion: it's about love, self-discovery, and life lessons. I first saw this story in a collection of Sufi tales called <a href="http://www.scribd.com/doc/49307979/Idries-Shah-Tales-of-the-Dervishes">Tales of the Dervishes</a> by Idries Shah, published in 1969 by E.P. Dutton &amp; Co.</p>

			<p>It's been years since I've laid eyes on this writing of mine: 10 years, to be precise(!). While building this site I did some minor editing and re-organizing. The piece was previously broken into unnamed sections, which I have turned into named Chapters. This link can be used to see <a href="http://qaidjacobs.com/the-food-of-paradise/">a PDF of the original 2003 document</a>.</p>

			<p>I've always wanted to do something major with this writing. It was a product of a special period in life when my creative output was prolific, diverse, and genuinely interesting. Here in 2013 as I see myself on the verge of another season of creative abundance, I find the website-ification of this story to be a fitting and enjoyable exercise. I hope that others read it and find it likewise enjoyable.</p>
		</div>
	</div>
</div>