<div class="bb-item" id="item4">
	<div class="content">
		<div class="scroller">
			<h1>Throughout the Within</h1>
			<p>When morning slowly developed, like a picture fading in,
			The moisture from the air condensed as dew upon his skin.<br>
			Sunlight spilling through his eyelids evaporating the final bits of Moyen’s dreams,<br>
			Bluer than blue above the greenest evergreen combined to create something serene.<br>
			Earth’s beauty has no bounds, that Morning swallowed Moyen whole,<br>
			He tumbled onward in a womb-like void, absorbing Earth’s role.<br>
			The need to take it all in was even greater than the need to blink,<br>
			Comprehending it all at tremendous speed he never knew he could think.<br>
			There seemed to be more to know than there was time in a moment, this mental influx weighed Moyen down,<br>
			The weight became heavy, then quickly oppressive, there was so much understanding he thought he might drown.<br>
			Just as all sense of left and right threatened to disappear,<br>
			Moyen calmed considerably and knew that the ground was near.<br>
			The ground was beneath, and clouds above in the sky,<br>
			Exactly as they had been since the beginning of time.</p>

			<p>Sitting up, still reeling from such an extreme trip throughout his within,<br>
			Moyen’s vision focused on a small and elderly man perched on a tree limb.<br>
			Startled at first, but then relieved by this site, <br>
			Such an old man was never cause to take flight.<br>
			This type of man – adept enough to balance his body weight on the arm of a tree,<br>
			Was a rare, although well known sort of man – there was no mistaking who he could be.<br>
			This elder, adorned with a long braided beard and a multi-colored patchwork robe,<br>
			Is known as a dervish – a symbol of wisdom and patience famous across the globe.<br>
			In a movement that deceived and defied both the eye and old age,<br>
			The dervish had descended the tree with a fluidity available only to sages.<br>
			Moyen perked up, steadied himself and sprang up to his toes.<br>
			Tradition dictated that dervishes answer any one question you pose.<br>
			It was therefore always a pleasure to have a dervish cross your way,<br>
			Although sometimes a challenge, for in response a riddle is what he might say.<br>
			Dervishes do nothing but study, otherwise practicing religious chants to increase their piety,<br>
			Roaming the land begging meals and shelter; providing free wisdom is how they repaid society.<br>
			The legends indicate that dervishes have supernatural powers,<br>
			Like levitation, psychokenesis, and meditation hour upon hour.<br>
			Rock hard discipline, unflagging devotion,<br>
			Flight above the clouds, council below the ocean.<br>
			This particular dervish was eccentric to say the least.<br>
			His brown skin and vocabulary suggested that he came from the east.</p>

			<p>The dervish rolled right up to Moyen, staring him bluntly in the face:<br>
			“Greetings upon greetings I wish to you, weary traveler of mind and space.”<br>
			With one hand flourishing his patchwork, his feet shuffled furiously in place,<br>
			The movement was so ridiculously silly; Moyen had trouble keeping a straight face.<br>
			Seeing such an old man make such absurd movements Moyen couldn’t help but boisterously laugh,<br>
			The dervish himself seemed quite amused and asked, “so, what brings you across my path?”</p>

			<p>“Well isn’t it really my path you’ve crossed, and besides, shouldn’t the first question asked be mine?<br>
			I mean, you are a dervish, and I a knowledge seeker, let’s honor that tradition for it’s as old as time.”</p>

			<p>“Amazing how arrogant you are to be a blind man lost amongst these trees.<br>
			Your premature words risk gambling my help, as I am one who can see.”</p>

			<p>“Ah sir dervish, you waste our time, now I have a question so you must reply.”<br>
			Insulted, yet bound by tradition, the dervish had no choice but to comply.</p>

			<p>“You may ask your question though I’ve already given you advice.<br>
			You’re such a clot for not even knowing, I won’t mind giving it twice.”</p>

			<p>“Well, since you have offered, here’s my query to you,<br>
			I can certainly benefit from your knowledge on my quest for the ultimate truth ….”</p>

			<p>“The ultimate truth?!  Pssht!  You must be joking!”</p>

			<p>“Hold your tongue until all my words have been spoken…!<br>
			This trek has been hard but spiritually rewarding none-the-less.<br>
			My survival has been based wholly on this river by which we rest.<br>
			Its waters alone didn’t only quench the thirst of my famine,<br>
			But everyday it delivers a meal more tasty than you could imagine.<br>
			The Food of Paradise itself from Nature’s stream, directly to me –<br>
			It’s just that the ultimate source of this treat remains a mystery.<br>
			So here’s where you come in, my good dervish, let’s not dally, no time to procrastinate,<br>
			The simple question I need you to answer is: from where does this food originate?”<br>
			The dervish meditated on Moyen’s words carefully before saying a thing,<br>
			Wary of the consequences that ultimate truth never fails to bring.</p>

			<p>“I can tell you where your food comes from, that’s no major feat;<br>
			Especially since it will bring you closer to the truth behind your treat.<br>
			Keep traveling upriver until the river widens and becomes strangely sedate.<br>
			In between the banks rests an island with a castle protected by 100 foot gates.<br>
			The bearer of your sustenance resides in this fortified palace,<br>
			As you swim to reach it – beware of sea creatures with malice!<br>
			You must be sharp for this structure was built with extreme protection,<br>
			Swim through the underground spring to get in and avoid detection.<br>
			To access this spring, swim in one straight line directly [to the castle] from the shore,<br>
			Once inside follow your ears, which will take you to what you’ve been questing for.<br>
			My final piece of advice is more like a warning, take heed and to your heart hold it near,<br>
			The ultimate truth is not always as expected, and may not be as clear as it appears.”</p>

			<p>“Thank you for the advice, though I could have done without the prattle.<br>
			I’m off to continue upriver to meet my destiny in this castle I must battle.”<br>
			With no more to gain Moyen began upon his way without a further word of gratitude.<br>
			The dervish watched him walk away, disgustedly shook his head and complained of the young man’s attitude.<br>
			Moyen couldn’t care less although he gave thanks for his blessings.<br>
			God had supported him again in the form of the dervish’s lessons.<br>
			What was it the old man had said about truth and appearances?  Moyen hadn’t retained any detail,<br>
			At that point it didn’t even matter, the only thing on his mind was how he was going to prevail.<br>
			The castle posed a great challenge, <br>
			for swimming was not his best talent,<br>
			But surely confident he would win, <br>
			Moyen was going to find a way in.</p>
		</div>
	</div>
</div>