{% block content %}

<div id="container" class="container">

	{% include "menu" %}

	<div class="bb-custom-wrapper">
		<div id="bb-bookblock" class="bb-bookblock">
			{% include "preamble" %}
			{% include "moyen-loses-his-way" %}
			{% include "alone-in-the-woods" %}
			{% include "throughout-the-within" %}
			{% include "brave-inside-a-cave" %}
			{% include "no-real-stranger" %}
			{% include "perceiving-truth" %}
		</div>

		<nav>
			<span id="bb-nav-prev" title="previous">&larr;</span>
			<span id="bb-nav-next" title="next">&rarr;</span>
		</nav>

		<span id="tblcontents" class="menu-button" title="Table of Contents">Table of Contents</span>

	</div>

</div><!-- /container -->

{% endblock %}